@namespace Omni.Blazor.Components
@typeparam TValue
@inherits OmniComponentWithChildren
@using Omni.Blazor.Utilities

<label class="@RootCss" style="@Style" @attributes="Attributes">
    <input type="radio"
           class="omni-radio-input"
           name="@(Group?.GroupName)"
           value="@($"{Value}")"
           checked="@IsSelected"
           disabled="@(Disabled || Group?.Disabled == true)"
           @onchange="OnChange" />
    @if (ChildContent is not null) { @ChildContent }
    else if (!string.IsNullOrEmpty(Label)) { <span>@Label</span> }
</label>

@code {
    [CascadingParameter] internal OmniRadioGroup<TValue>? Group { get; set; }

    [Parameter, EditorRequired] public TValue Value { get; set; } = default!;
    [Parameter] public string? Label { get; set; }
    [Parameter] public bool Disabled { get; set; }

    private bool IsSelected => Group?.IsSelected(Value) == true;

    private string RootCss => CssBuilder.Default("omni-radio")
        .AddClass("omni-radio-selected", IsSelected)
        .AddClass("omni-radio-disabled", Disabled)
        .AddClass(Class)
        .Build();

    private Task OnChange(ChangeEventArgs _) => Group?.SelectAsync(Value) ?? Task.CompletedTask;
}
